canvas {
  display: block;
  margin-bottom: 10px; /* Adds space between canvas and link */
}

a {
  display: block;
  text-decoration: none;
  color: blue;
}

.canvas-with-buttons{
  display: flex;
  flex-direction: row;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: flex-end;
  margin: 1rem;
  gap: 1rem;
}

.button-main{
}